body {
  background-image: url('../asset/imgs/backtwo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f8f8f8;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Times, "Times New Roman", Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #F0F2E7;
}

ul {
  margin: 0;
}
.fixed-top {
  background-image: url('../asset/imgs/background_forWebsite.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.site-header .navbar-nav .nav-link {
  color: dimgrey;
  font-size: 22px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #e5fae5;
  font-style: italic;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
.navbar-dark .navbar-toggler-icon {
  background-color: #1E1E12;
}
.content-section {
  background: #141412;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #F0F2E7;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

main {
  flex: 1;
  padding: 20px;
}






/* about page */
.quote {
  font-style: italic;
}
#about-page {
  display: flex;
  justify-content: space-around;

}
div.bio {
  padding-left: 2rem;
}
div.picture {
  padding-right: 2rem;
}


/* profile page */

.form-control {
  background-color: black;
  color: white;
}
/* gallery */
.upload_img--form {
  color: black;
  width:  100%;
  height: 15rem;
  border: green 5px solid;
  background-color: white;
  padding-left: 2rem;
}
.upload-pics {
  display: block;

}
.upload-pics div, .upload{
    margin-top: 1.7rem;
}
.upload button {
  background: #33B3FF;
  width: 5rem;
  padding: 0.1rem;
}
.choose {
  background: gray;
}

.description input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.description label {
    font-weight: bold;
    margin-bottom: 5px;
}

.description {
    margin-bottom: 20px;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 3;

}
.image-item {
  text-align: center;
  background: white;
  margin-top: 1rem;
  width: 22rem;
  margin-bottom: 20px;
  margin-left: 2rem;
}
.image-item img {
  min-width: 200px;
  max-width: 300px;
  min-height: 240px;

}
/* footer style */
footer {
  background-color: #1B100E;
  color: white;
  padding: 10px;

}
i {
  font-size: 30px;
  color: white;
}
.footer {
  display: flex;
  justify-content: space-around;
}
ul.contact-list li {
  list-style: none;
}
